// Theme Colors
$bg-white: #FFFFFF;
$bg-lt: #A2AED2;
$bg-md: #58617D;
$bg-dk: #10182F;
$txt-lt: #A2AED2;
$txt-md: #58617D;
$txt-dk: #10182F;

// Theme Fonts
$hind: 'Hind', sans-serif;
$poppins: 'Poppins', sans-serif;
$ubuntu: 'Ubuntu', sans-serif;

// Root Colors
$white: #fff;
$black: #000;
$nebula: #5468ff;
$moon: #f5f5fa;
$asteroid: #dddfed;
$proton: #c5c9e0;
$nova: #848ab8;
$telluric: #5d6494;
$solstice: #3a416f;
$cosmos: #21243d;
$neptune-0: #3944a0;
$neptune-1: #565db6;
$neptune-2: #7178cc;
$neptune-3: #8c93e2;
$neptune-4: #a6b0f9;
$mercury-0: #008fba;
$mercury-1: #2da7cb;
$mercury-2: #5bbfdd;
$mercury-3: #88d6ee;
$mercury-4: #b5eeff;
$jupiter-0: #3ab2bd;
$jupiter-1: #61c5c8;
$jupiter-2: #89d9d3;
$jupiter-3: #b0ecde;
$jupiter-4: #d7ffe9;
$saturn-0: #ec8b63;
$saturn-1: #f3a57e;
$saturn-2: #f8be9a;
$saturn-3: #fcd7b7;
$saturn-4: #fdf1d4;
$mars-0: #ed5a6a;
$mars-1: #f27885;
$mars-2: #f695a0;
$mars-3: #fbb3ba;
$mars-4: #ffd0d5;
$venus-0: #ae3e88;
$venus-1: #d44fa4;
$venus-2: #ea71bc;
$venus-3: #f89ad3;
$venus-4: #ffcae9;


.site_info_title {
    font-size: 2rem;
    font-weight: 800;
    display: flex;
    p {
        margin: 0;
    }
}

.fixed-background::before {
    content:'';
    background-image: url(./images/bg1.png);
    position: fixed;
    top: 0;
    background-position: center center;
    width: 100%;
    height: 100%;
    display: block;
}
.fixed-background {
    height: 100vh;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    z-index: -300;
}

header {
    box-shadow: 0px 0px 3px rgba(0,0,0,0.5);
    > div {
        // padding: 0 6rem;
        display: flex;
        justify-content: space-between;
        .site_info_title {
            width: 200px;
        }
    }
    nav {
        width: 100%;
        background: white;
        .navbar-nav {
            font-family: $hind;
            font-weight: 700;
            font-size: 0.8rem;
            text-transform: uppercase;
            letter-spacing: 1.5px;
            a {
                color: $solstice;
                margin: 0 10px;
                &:hover {
                    color: $nebula;
                }
            }
        }
    }
}

main {
    text-align: center;
    > div {
        min-height: 100vh;
        margin: 3rem 6rem;
        border: 1px dashed lightgray;
    }
}

footer {
    font-weight: 400;
    background-color: $moon;
    color: $telluric;
    font-family: $hind;
    font-size: 0.875rem;
    h3 {
        text-transform: uppercase;
        font-size: 0.75rem;
        letter-spacing: 0.05em;
        font-weight: 700;
        font-family: $poppins;
        color: $solstice;
    }
    ul {
        list-style-type: none;
        padding-left: 0;
        li {
            line-height: 2.5;
            a {
                text-decoration: none;
                color: inherit;
            }
        }
    }
    .grid-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 0fr;
        padding: 3rem 6rem;
        @media screen and (max-width: 767px) {
            padding: 1.5rem 3rem;
        }
        .top {
            display: grid;
            grid-template-columns: 1fr 3fr;
            @media screen and (max-width: 767px) {
                grid-template-columns: 1fr;
            }
            .site_info_title {
                display: grid;
                grid-template-columns: 1 / 4;
                margin-bottom: 2rem;
                @media screen and (max-width: 767px) {
                    grid-template-columns: 4fr;
                }
            }
            .link-sections {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                @media screen and (max-width: 767px) {
                    grid-template-columns: repeat(3, 1fr);
                }
                @media screen and (max-width: 600px) {
                    grid-template-columns: 3fr;
                }
            }
        }
        .bottom {
            font-size: 0.8em;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            @media screen and (max-width: 767px) {
                grid-template-columns: 1fr;
                text-align: center;
            }
            .left {
                display: grid;
                order: 0;
                @media screen and (max-width: 767px) {
                    order: 3;
                }
                p {
                    align-self: center;
                }
            }
            .center {
                display: grid;
                order: 1; 
                ul {
                    display: flex;
                    justify-content: space-between;
                    max-width: max-content;
                    margin: auto;
                    li {
                        padding: 0rem 1rem;
                    }
                }
            }
            .right {
                display: grid;
                order: 2;
                ul {
                    display: flex;
                    justify-content: flex-end;
                    @media screen and (max-width: 767px) {
                        margin: auto;
                    }
                    li {
                        padding: 0rem 1rem;
                        img {
                            vertical-align: middle;
                        }
                    }
                }
            }
        }
    }
}